<div>
  <!-- Header -->
  <section class="min-h-screen flex flex-col items-center justify-between py-1 px-2 bg-black text-center" id="home">
    <header class="w-full text-white shadow z-50">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-end h-16">

          <!-- Desktop Menu -->
          <nav class="hidden md:flex items-center space-x-6">
            <a href="/" class="hover:text-purple-500">Home</a>
            <a href="/#works" class="hover:text-purple-500">Works</a>
            <a href="/#contact" class="hover:text-purple-500">Contact</a>
          </nav>

          <!-- Mobile: Book Now + Menu Button -->
          <div class="flex items-center gap-3 md:hidden">
            <button (click)="toggleMenu()" class="focus:outline-none">
              <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

        </div>
      </div>

      <!-- Fullscreen Mobile Menu -->
      <div *ngIf="isMenuOpen"
        class="fixed inset-0 bg-white text-black flex flex-col items-center justify-center z-50 animate-fade-down">
        <!-- Close Button -->
        <button (click)="toggleMenu()" class="absolute top-4 right-4">
          <svg class="h-8 w-8 text-black" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>

        <!-- Menu Items -->
        <nav class="flex flex-col gap-6 text-lg font-semibold text-center">
          <a (click)="toggleMenu()" href="/" class="hover:text-purple-500">Home</a>
          <a (click)="toggleMenu()" href="/#works" class="hover:text-purple-500">Works</a>
          <a (click)="toggleMenu()" href="/#contact" class="hover:text-purple-500">Contact</a>
        </nav>
      </div>
    </header>
    <img src="assets/profile.png" alt="" class="w-64 rotate-x-15 -rotate-y-30 rounded-xl my-2 mt-10 sm:mt-0"
      data-aos="fade-right">
    <div class="flex flex-col items-center" data-aos="fade-right">
      <h2 class="text-5xl font-bold my-2">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">Gokul Govindaraj</span>
      </h2>
      <h2 class="text-xl font-bold mb-2">
        <span class="text-transparent bg-clip-text text-white my-2">Angular Developer | Frontend Engineer | Ionic
          Developer</span>
      </h2>
      <div class="my-2 sm:hidden flex items-center gap-4 bg-white text-black rounded-full px-6 py-1 shadow-lg bg-black"
        data-aos="fade-right">
        <a href="../assets/files/GokulGovindaraj_Resume.pdf" download target="_blank"
          class="glow-on-hover px-2 p-1 h-10 py-2.5 my-2 text-sm font-normal">Download CV</a>
        <a href="https://www.linkedin.com/in/gokul-govindaraj-99698b228" target="_blank"
          class="group transition-all duration-300 ease-in-out">
          <div
            class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
            <span
              class="absolute w-12 h-12 rounded-full bg-blue-400 opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
            <i class="ri-linkedin-fill text-xl z-10 transition-all duration-300 group-hover:text-blue-600"></i>
          </div>
        </a>

        <a href="mailto:gokulgovindaraj44@gmail.com" target="_blank"
          class="group transition-all duration-300 ease-in-out">
          <div
            class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
            <span
              class="absolute w-12 h-12 rounded-full bg-purple-400 opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
            <i class="ri-mail-line text-xl z-10 transition-all duration-300 group-hover:text-purple-600"></i>
          </div>
        </a>

        <a href="tel:+916384929988" target="_blank" class="group transition-all duration-300 ease-in-out">
          <div
            class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
            <span
              class="absolute w-12 h-12 rounded-full bg-black opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
            <i class="ri-phone-line text-xl z-10 transition-all duration-300 group-hover:text-black"></i>
          </div>
        </a>

      </div>
      <p class="text-white max-w-5xl text-base sm:text-lg mb-8 p-1">
        Passionate Software Developer with hands-on experience in building dynamic, scalable, and responsive web
        applications using Angular. Skilled in component-driven architecture, REST API integration, and performance
        optimization. Strong understanding of TypeScript, RxJS, and Angular Material to create seamless user
        experiences.
      </p>
    </div>
  </section>

  <!-- Apps -->
  <section class="bg-black text-white py-10">
    <div class="max-w-3xl mx-auto flex flex-wrap py-5 flex-col sm:flex-row justify-between gap-6 text-center">

      <div>
        <h2 class="text-5xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">4+</span>
        </h2>
        <p class="text-sm mt-1">Years of Experience</p>
      </div>

      <div>
        <h2 class="text-5xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">7</span>
        </h2>
        <p class="text-sm mt-1">Web Projects</p>
      </div>

      <div>
        <h2 class="text-5xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">5</span>
        </h2>
        <p class="text-sm mt-1">Deployed Mobile Apps</p>
      </div>

      <div>
        <h2 class="text-5xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">5+</span>
        </h2>
        <p class="text-sm mt-1">Learned Technologies</p>
      </div>

    </div>
  </section>

  <!-- Works -->
  <section class="py-12 px-4 bg-black text-white" id="works">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-3xl font-bold mb-4 text-center">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">Works</span>
      </h2>
      <p class="text-center text-gray-400 mb-10" data-aos="fade-right">
        A showcase of selected web and mobile projects built using Angular, Ionic, Firebase, and Tailwind CSS. Each
        project reflects my focus on clean UI, responsive design, and performance—crafted to deliver smooth user
        experiences across platforms.
      </p>
    </div>
    <div class="max-w-6xl mx-auto">

      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">01</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">E-commerce</h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Built a responsive e-commerce UI with dynamic product listings, cart functionality, and seamless
              checkout
              flows. Focused on delivering a smooth and user-friendly shopping experience across all devices.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>
      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">02</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">LMS</h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Designed and developed modern, user-friendly Learning Management System (LMS) interfaces, featuring
              interactive course cards and a client-side book purchasing experience with real-time feedback.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>
      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">03</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">Health Care</h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Designed healthcare interfaces and dashboards that display real-time insights through dynamic charts
              and
              trigger intelligent alerts to enhance monitoring and decision-making.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>
      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">04</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">IoT Solution</h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Developed custom IoT dashboards to visualize live device data using clean tables and interactive
              charts.
              Enabled users to track and analyze device performance effectively.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>
      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">05</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">Static & SPA Web
              Development
            </h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Built both static and dynamic web solutions, from landing pages to advanced single-page applications
              (SPAs). Used technologies like HTML, Tailwind CSS, and Angular to create responsive, interactive, and
              optimized web experiences.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>
      <div class="my-3" data-aos="fade-right">
        <div
          class="flex flex-col sm:flex-row justify-between items-center border border-gray-100 hover:bg-gradient-to-r from-purple-400 to-white p-4 rounded-xl hover:cursor-pointer group transition-colors duration-300">
          <div class="flex flex-col sm:flex-row sm:items-center">
            <p class="font-bold text-purple-400 text-lg sm:mx-2 sm:my-0 group-hover:text-white">06</p>
            <h3 class="w-64 text-lg font-semibold sm:mx-2 sm:my-0 group-hover:text-white">Mobile Applications</h3>
            <p class="text-sm text-gray-400 sm:mx-2 sm:my-0 group-hover:text-white max-w-md">
              Delivered complete mobile app solutions — from designing UI screens to integrating backend services
              using
              Firebase, building APKs/AABs, and publishing them to the Play Store using Google Play Console.
            </p>
          </div>

          <span
            class="text-purple-400 group-hover:text-purple-400 transform transition-transform duration-300 rotate-0 sm:rotate-45 group-hover:-rotate-45 text-2xl">
            ➜
          </span>
        </div>
      </div>

    </div>
  </section>

  <!-- Recent Projects -->
  <section class="py-12 bg-black text-white">
    <div class="max-w-7xl mx-auto ">
      <h2 class="text-3xl font-bold mb-4 text-center" data-aos="fade-right">
        <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-[#f4f3f3]">Recent Projects</span>
      </h2>
      <div class="text-center">
        <div class="flex justify-center sm:justify-start gap-2 mb-4" data-aos="fade-right">
          <button *ngFor="let type of typeofCars" (click)="filterCars(type)"
            [ngClass]="selectedType === type ? 'bg-purple-400' : 'bg-gray-200 text-black'"
            class="px-4 py-2 rounded-lg font-medium transition-colors duration-200">
            {{ type }}
          </button>
        </div>
        <div class="relative ml-5 sm:ml-0">
          <div #scrollContainer
            [ngClass]="cars.length === 0 ? 'overflow-hidden justify-center' : 'flex overflow-x-auto hide-scrollbar sm:grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4'">
            <div #carCard *ngFor="let car of cars; let i = index;" class="group">
              <a [href]="car.link" target="_blank" class="text-start">
                <div data-aos="fade-right"
                  class="relative hover:border-purple-500 border cursor-pointer min-w-[300px] sm:min-w-[350px] hover:shadow-xl rounded-xl flex flex-col group-hover:bg-gradient-to-r group-hover:from-purple-400 to-white transition-all duration-300 overflow-hidden">
                  <!-- Car Image -->
                  <img [src]="car.image" alt="{{car.name}}" class="w-full mx-auto rounded-lg">

                  <!-- 🔥 Hidden details shown only on hover -->
                  <div
                    class="absolute bottom-0 left-0 w-full bg-gradient-to-r from-purple-400 to-[#f4f3f3] text-white p-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="flex justify-between items-center ">
                      <div>
                        <p class="text-sm font-semibold">{{car.name}}</p>
                        <p class="text-xs truncate group-hover:text-black">{{car.link}}</p>
                      </div>
                      <i class="ri-arrow-right-long-line group-hover:-rotate-45 group-hover:text-black"></i>
                    </div>
                  </div>
                </div>

                <!-- Keep the arrow if you want outside -->

              </a>
            </div>

            <p class="text-center" *ngIf="cars.length == 0">No Projects Found</p>
            <div class="sm:hidden" *ngIf="cars.length !== 0">
              <!-- Left arrow -->
              <button (click)="scrollPrev()" [disabled]="disablePrev"
                class="absolute right-14 -bottom-14 bg-white border text-purple-500 py-1 px-2 rounded-full shadow-lg hover:bg-gray-800 disabled:opacity-40 disabled:cursor-not-allowed">
                <i class="ri-arrow-left-long-line text-2xl"></i>
              </button>

              <!-- Right arrow -->
              <button (click)="scrollNext()" [disabled]="disableNext"
                class="absolute right-0 -bottom-14 bg-white border text-purple-500 py-1 px-2 rounded-full shadow-lg hover:bg-gray-800 disabled:opacity-40 disabled:cursor-not-allowed">
                <i class="ri-arrow-right-long-line text-2xl"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Skills -->
  <section class="py-12 text-center bg-black">
    <h2 class="text-3xl font-bold mb-4">
      <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-[#f4f3f3]">Skills</span>
    </h2>
    <div class="flex flex-wrap justify-center gap-10 max-w-9xl mx-auto px-4">
      <div *ngFor="let feature of features" data-aos="fade-right"
        class="flex flex-col items-center w-32 bg-white shadow rounded-2xl p-2 hover:bg-gradient-to-r from-purple-400 to-white">
        <div class="p-2 rounded-xl mb-4 text-3xl">
          <i [class]="feature.icon" class="icon-size-4"></i>
        </div>
        <h3 class="text-xs font-semibold mb-2">{{ feature.title }}</h3>
      </div>
    </div>
  </section>

  <!-- Experience & Education -->
  <section class="bg-black text-white py-10 px-4">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">

      <div>
        <h2 class="text-3xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-white">Experience</span>
        </h2>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">June 2022 - Present</p>
          <h3 class="text-xl font-semibold mt-1">Software Developer</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Careworx Healthcare Private Limited</p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Ashok Nagar, Chennai</p>
        </div>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">January 2022 - June 2022</p>
          <h3 class="text-xl font-semibold mt-1">Software Developer</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Scentric Networks Private Limited</p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Anna Nagar, Chennai</p>
        </div>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">June 2021 - January 2022</p>
          <h3 class="text-xl font-semibold mt-1">Angular Developer</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Bounty Hunt Force <span
              class="text-xs font-normal">(Unregistered
              Company)</span></p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Carmelaram, Bengaluru</p>
        </div>
      </div>

      <div>
        <h2 class="text-3xl font-bold mb-4">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-[#f4f3f3]">Education</span>
        </h2>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">2018 - 2021</p>
          <h3 class="text-xl font-semibold mt-1">B.Sc Data Science</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Nehru Memorial College</p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400"> Puthanampatti, Tiruchirappalli</p>
        </div>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">2017 - 2018</p>
          <h3 class="text-xl font-semibold mt-1">12th Standard</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Government Higher Secondary School</p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400"> Moovanur, Tiruchirappalli</p>
        </div>
        <div class="bg-[#1c1c2b] p-4 my-2 group rounded-xl hover:bg-gradient-to-r from-purple-400 to-[#f4f3f3]"
          data-aos="fade-right">
          <p class="text-purple-400 text-sm group-hover:text-white ">2015 - 2016</p>
          <h3 class="text-xl font-semibold mt-1">10th Standard</h3>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400">Government Higher Secondary School</p>
          <p class="group-hover:text-white text-sm mt-1 text-gray-400"> Moovanur, Tiruchirappalli</p>
        </div>
      </div>

    </div>
  </section>

  <!-- Contact -->
  <section class="min-h-screen bg-black text-white flex items-center justify-center px-4 py-2" id="contact">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full max-w-6xl bg-[#1a1a1a] p-4 sm:p-10 rounded-3xl">

      <div>
        <h2 class="text-3xl font-bold mb-2">
          <span class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-500">
            Let’s Connect!
          </span>
        </h2>
        <p class="text-sm text-gray-400 mb-6">I design and code beautifully simple things and I love what I do.</p>

        <form class="space-y-4" [formGroup]="emailForm" (ngSubmit)="emailSubmit()">
          <div class="flex flex-col sm:flex-row gap-4">
            <div>
              <input type="text" formControlName="fname" placeholder="First name"
                class="w-full px-4 py-2 mt  -1 rounded bg-black text-white border border-gray-700"
                data-aos="fade-right" />
              <div *ngIf="hasError('fname', 'required')" class="text-red-500 text-sm">First name is required.</div>
              <div *ngIf="hasError('fname', 'pattern')" class="text-red-500 text-sm">Only letters allowed.</div>
            </div>
            <div>
              <input type="text" formControlName="lname" placeholder="Last name"
                class="w-full px-4 py-2 mt  -1 rounded bg-black text-white border border-gray-700"
                data-aos="fade-right" />
              <div *ngIf="hasError('lname', 'required')" class="text-red-500 text-sm">Last name is required.</div>
              <div *ngIf="hasError('lname', 'pattern')" class="text-red-500 text-sm">Only letters allowed.</div>
            </div>
          </div>
          <div class="flex flex-col sm:flex-row gap-4">
            <div>
              <input type="text" formControlName="subject" placeholder="Enter subject"
                class="w-full px-4 py-2 mt  -1 rounded bg-black text-white border border-gray-700"
                data-aos="fade-right" />
              <div *ngIf="hasError('subject', 'required')" class="text-red-500 text-sm">Subject is required.</div>
            </div>
            <div>
              <input type="email" formControlName="email" placeholder="Email address"
                class="w-full px-4 py-2 mt  -1 rounded bg-black text-white border border-gray-700"
                data-aos="fade-right" />
              <div *ngIf="hasError('email', 'required')" class="text-red-500 text-sm">Email is required.</div>
              <div *ngIf="hasError('email', 'email')" class="text-red-500 text-sm">Enter a valid email.</div>
            </div>
          </div>
          <div>
            <textarea formControlName="message" placeholder="Message" rows="4"
              class="w-full px-4 py-2 mt  -1 rounded bg-black text-white border border-gray-700"
              data-aos="fade-right"></textarea>
            <div *ngIf="hasError('message', 'required')" class="text-red-500 text-sm">Message is required.</div>
            <div *ngIf="hasError('message', 'minlength')" class="text-red-500 text-sm">Minimum 10 characters
              required.
            </div>
          </div>


          <button data-aos="fade-right"
            class="px-6 py-2 rounded bg-gradient-to-r from-purple-500 to-pink-500 text-white font-semibold hover:scale-105 transition">
            Send Message
          </button>
        </form>
      </div>
      <!-- Toast Notification -->
      <div *ngIf="showToast" [ngClass]="toastColor"
        class="fixed top-5 right-5 text-white px-4 py-2 rounded shadow-lg z-50 animate-slide-in">
        {{ toastMessage }}
      </div>

      <div class="space-y-6">
        <div class="flex flex-col sm:flex-row sm:items-center gap-4" data-aos="fade-right">
          <div
            class="sm:bg-gradient-to-r sm:from-purple-500 sm:to-pink-500 bg-white text-black sm:text-white w-12 p-3 rounded-full">
            <i class="ri-phone-line p-1"></i>
          </div>
          <div class="text-start">
            <p class="text-sm text-gray-400">Phone</p>
            <p class="font-semibold">+91-6384929988</p>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center gap-4" data-aos="fade-right">
          <div
            class="sm:bg-gradient-to-r sm:from-purple-500 sm:to-pink-500 bg-white text-black sm:text-white w-12 p-3 rounded-full">
            <i class="ri-mail-line p-1"></i>
          </div>
          <div class="text-start">
            <p class="text-sm text-gray-400">Email</p>
            <span class="font-semibold">gokulgovindaraj44@gmail.com</span>
          </div>
        </div>

        <div class="flex flex-col sm:flex-row sm:items-center gap-4" data-aos="fade-right">
          <div
            class="sm:bg-gradient-to-r sm:from-purple-500 sm:to-pink-500 bg-white text-black sm:text-white w-12 p-3 rounded-full">
            <i class="ri-map-pin-line p-1"></i>
          </div>
          <div class="text-start">
            <p class="text-sm text-gray-400">Address</p>
            <p class="font-semibold">2/15, Mela Street, Vengai Mandalam,</p>
            <p> Moovanur(P.o), Musiri(T.k), Tiruchirappalli(D.t),</p>
            <p> Pin.code - 621006.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    class="fixed bottom-6 hidden sm:flex sm:items-center left-1/2 transform -translate-x-1/2 z-50 gap-4 bg-white text-black rounded-full px-6 py-1 shadow-lg bg-black">
    <a href="../assets/files/GokulGovindaraj_Resume.pdf" download target="_blank"
      class="glow-on-hover px-2 p-1 h-10 py-2.5 my-2 text-sm font-normal">Download CV</a>
    <a href="https://www.linkedin.com/in/gokul-govindaraj-99698b228" target="_blank"
      class="group transition-all duration-300 ease-in-out">
      <div
        class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
        <span
          class="absolute w-12 h-12 rounded-full bg-blue-400 opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
        <i class="ri-linkedin-fill text-xl z-10 transition-all duration-300 group-hover:text-blue-600"></i>
      </div>
    </a>

    <a href="mailto:gokulgovindaraj44@gmail.com" target="_blank" class="group transition-all duration-300 ease-in-out">
      <div
        class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
        <span
          class="absolute w-12 h-12 rounded-full bg-purple-400 opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
        <i class="ri-mail-line text-xl z-10 transition-all duration-300 group-hover:text-purple-600"></i>
      </div>
    </a>

    <a href="tel:+916384929988" target="_blank" class="group transition-all duration-300 ease-in-out">
      <div
        class="flex items-center justify-center px-3 group-hover:px-6 py-3 rounded-full relative overflow-hidden transition-all duration-300 ease-in-out">
        <span
          class="absolute w-12 h-12 rounded-full bg-black opacity-20 scale-0 group-hover:scale-100 group-hover:opacity-40 transition duration-500 ease-out"></span>
        <i class="ri-phone-line text-xl z-10 transition-all duration-300 group-hover:text-white"></i>
      </div>
    </a>

  </div>

</div>