@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~remixicon/fonts/remixicon.css";


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
